<h1>
  Edit feedback #<%= @feedback.id %>
</h1>

<hr>

<form action="/update_feedback/<%= @feedback.id %>" method="post">

  <div class="form-group">
    <label for="comments">
      Comments
    </label>

    <input type="text" id="comments" name="comments" class="form-control" value="<%= @feedback.comments %>">
  </div>

  <div class="form-group">
    <label for="commentor_id">
      Commentor
    </label>

    <input type="text" id="commentor_id" name="commentor_id" class="form-control" value="<%= @feedback.commentor_id %>">
  </div>

  <div class="form-group">
    <label for="recipient_id">
      Recipient
    </label>

    <%= select_tag(:recipient_id, options_from_collection_for_select(User.all, :id, :email, @feedback.recipient_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update feedback
  </button>
</form>

<hr>

<a href="/feedbacks">
  Go back
</a>
